
.buttons__section{
  display: flex;
  justify-content: center;

  &-btn{
    padding: 20px;
    border:none;
    border-radius: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
  }
  &-btn:hover {
    color:white;
    cursor: pointer;
    box-shadow: 1px 1px 18px 7px dimgrey;
  }
}
