.modal {
  &-wrapper {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__buttons {
    display: flex;
    margin-top: 100px;
    justify-content: center;

    &-btn {
      width: 100px;
      font-size: 20px;
      padding: 5px;
      margin: 10px;
      background-color: lightgray;
      color: black;
      outline: none;
      border: none;
      border-radius: 10px;
    }

    &-btn:hover {
      background-color: gray;
      cursor: pointer;
      color: white;
    }
  }

  &__container {
    position: absolute;
    width: 500px;
    height: 300px;
    left: calc(50% - 250px);
    margin-top: 100px;
    background-color: #f5e342;
    z-index: 1000;
    border: 1px solid black;
    box-shadow: 1px 1px 20px 20px black;
    border-radius: 10px;
    overflow: hidden;

    &-closeBtn {
      font-weight: bold;
      float: right;
      width: 40px;
      height: 40px;
      margin: 15px;
      outline: none;
      font-size: 30px;
      border: none;
    }

    &-closeBtn:hover {
      border: 2px solid black;
      cursor: pointer;
      color: red;
    }

    &-title {
      color: white;
      text-align: center;
      margin-top: 0;
      padding: 20px;
      background-color: #42c8f5;
    }

    &-text {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
    }
  }

}